<h2>Imports and constants</h2>

In [1]:
import pandas as pd
%matplotlib inline
import cartopy.crs as ccrs
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data_path = 'data/'

<h2>Functions</h2>

In [3]:
def plot_cities(lons, lats):
    plt.figure(figsize=(8,8))
    ax = plt.axes(projection=ccrs.PlateCarree())
    #ax = plt.axes(projection=ccrs.EuroPP())
    ax.stock_img()
    #ax.coastlines()
    plt.scatter(lons, lats,
             color="blue", marker='o',
             transform=ccrs.Geodetic(),
             )
    plt.show()

In [4]:
#plot_cities(new_df['Longitude'], new_df['Latitude'])

<h2>Merging world cities and cost of living index datasets</h2>

In [5]:
# Load world cities
cities = pd.read_csv(data_path + 'worldcitiespop.csv', sep=",")

/home/filip/anaconda2/envs/geo/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
# Load cost of living index
coli = pd.read_csv(data_path + 'Cost_of_living_index.csv', sep=",")

In [7]:
# Parse original "City" column to "City" and "Country" columns
# TODO the USA countries are in "NY, New York" now.
coli["City"], coli["Country"] = coli["City"].str.lower().str.split(", ", 1).str

In [8]:
# Take only first 2000 most populated cities and drop any duplicates in city names.
new_cities = cities.sort_values("Population", ascending=False)[0:2000].drop_duplicates("City")

In [9]:
# Check how many cities we have now.
new_cities.shape

(1969, 7)

In [10]:
# Merge new cities and cost of living index datasets.
new_df = pd.merge(new_cities, coli, on="City", how="inner")
new_df.shape

(394, 15)

In [11]:
df = new_df[["City", "Country_y", "Population", "Latitude", "Longitude", "Cost of Living Plus Rent Index", "Local Purchasing Power Index"]]
df.rename(columns={"Country_y": "Country"}, inplace=True)

/home/filip/anaconda2/envs/geo/lib/python2.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [14]:
df.head(10)

,City,Country,Population,Latitude,Longitude,Cost of Living Plus Rent Index,Local Purchasing Power Index
0,tokyo,japan,31480498.0,35.685000,139.751389,61.89,113.09
1,shanghai,china,14608512.0,31.045556,121.399722,42.68,72.16
2,karachi,pakistan,11627378.0,24.905600,67.082200,15.50,36.66
3,delhi,india,10928270.0,28.666667,77.216667,19.23,77.75
4,manila,philippines,10443877.0,14.604200,120.982200,27.46,40.04
5,moscow,russia,10381288.0,55.752222,37.615556,37.33,59.51
6,seoul,south korea,10323448.0,37.598500,126.978300,58.79,102.63
7,sao paulo,brazil,10021437.0,-23.473293,-46.665803,31.11,41.16
8,istanbul,turkey,9797536.0,41.018611,28.964722,25.24,50.13
9,lagos,nigeria,8789133.0,6.453056,3.395833,31.86,19.41

In [15]:
df.shape

(394, 7)

<h2>TODO Merge other datasets to df</h2>

In [130]:
temperature = pd.read_csv(path + 'temperatures.csv', sep=',', decimal='.')

In [131]:
temperature

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
5,1744-04-01,5.788,3.624,Århus,Denmark,57.05N,10.33E
6,1744-05-01,10.644,1.283,Århus,Denmark,57.05N,10.33E
7,1744-06-01,14.051,1.347,Århus,Denmark,57.05N,10.33E
8,1744-07-01,16.082,1.396,Århus,Denmark,57.05N,10.33E
9,1744-08-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
10,1744-09-01,12.781,1.454,Århus,Denmark,57.05N,10.33E
11,1744-10-01,7.950,1.630,Århus,Denmark,57.05N,10.33E
12,1744-11-01,4.639,1.302,Århus,Denmark,57.05N,10.33E
13,1744-12-01,0.122,1.756,Århus,Denmark,57.05N,10.33E
14,1745-01-01,-1.333,1.642,Århus,Denmark,57.05N,10.33E
15,1745-02-01,-2.732,1.358,Århus,Denmark,57.05N,10.33E
16,1745-03-01,0.129,1.088,Århus,Denmark,57.05N,10.33E
17,1745-04-01,4.042,1.138,Århus,Denmark,57.05N,10.33E
18,1745-05-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
19,1745-06-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
20,1745-07-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
21,1745-08-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
22,1745-09-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
23,1745-10-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
24,1745-11-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
25,1745-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
26,1746-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
27,1746-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
28,1746-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
29,1746-04-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
...,...,...,...,...,...,...,...
8599182,2011-04-01,12.554,0.153,Zwolle,Netherlands,52.24N,5.26E
8599183,2011-05-01,14.066,0.149,Zwolle,Netherlands,52.24N,5.26E
8599184,2011-06-01,16.273,0.267,Zwolle,Netherlands,52.24N,5.26E
8599185,2011-07-01,16.020,0.179,Zwolle,Netherlands,52.24N,5.26E
8599186,2011-08-01,16.975,0.139,Zwolle,Netherlands,52.24N,5.26E
8599187,2011-09-01,15.788,0.109,Zwolle,Netherlands,52.24N,5.26E
8599188,2011-10-01,11.337,0.221,Zwolle,Netherlands,52.24N,5.26E
8599189,2011-11-01,6.990,0.097,Zwolle,Netherlands,52.24N,5.26E
8599190,2011-12-01,5.722,0.261,Zwolle,Netherlands,52.24N,5.26E
8599191,2012-01-01,4.348,0.293,Zwolle,Netherlands,52.24N,5.26E
8599192,2012-02-01,0.376,0.290,Zwolle,Netherlands,52.24N,5.26E
8599193,2012-03-01,7.863,0.135,Zwolle,Netherlands,52.24N,5.26E
8599194,2012-04-01,8.101,0.168,Zwolle,Netherlands,52.24N,5.26E
8599195,2012-05-01,14.169,0.191,Zwolle,Netherlands,52.24N,5.26E
8599196,2012-06-01,14.702,0.342,Zwolle,Netherlands,52.24N,5.26E
8599197,2012-07-01,17.329,0.287,Zwolle,Netherlands,52.24N,5.26E
8599198,2012-08-01,18.588,0.224,Zwolle,Netherlands,52.24N,5.26E
8599199,2012-09-01,14.333,0.207,Zwolle,Netherlands,52.24N,5.26E
8599200,2012-10-01,10.358,0.208,Zwolle,Netherlands,52.24N,5.26E
8599201,2012-11-01,6.469,0.189,Zwolle,Netherlands,52.24N,5.26E
8599202,2012-12-01,4.303,0.341,Zwolle,Netherlands,52.24N,5.26E
8599203,2013-01-01,1.479,0.217,Zwolle,Netherlands,52.24N,5.26E
8599204,2013-02-01,1.559,0.304,Zwolle,Netherlands,52.24N,5.26E
8599205,2013-03-01,2.253,0.267,Zwolle,Netherlands,52.24N,5.26E
8599206,2013-04-01,7.710,0.182,Zwolle,Netherlands,52.24N,5.26E
8599207,2013-05-01,11.464,0.236,Zwolle,Netherlands,52.24N,5.26E
8599208,2013-06-01,15.043,0.261,Zwolle,Netherlands,52.24N,5.26E
8599209,2013-07-01,18.775,0.193,Zwolle,Netherlands,52.24N,5.26E
8599210,2013-08-01,18.025,0.298,Zwolle,Netherlands,52.24N,5.26E
8599211,2013-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E

In [133]:
temperature['dt'] = pd.to_datetime(temperature['dt'])

In [134]:
temperature.dtypes

dt                               datetime64[ns]
AverageTemperature                      float64
AverageTemperatureUncertainty           float64
City                                     object
Country                                  object
Latitude                                 object
Longitude                                object
AverageTemperatureYearly                float64
dtype: object

In [136]:
temperature['year'] = temperature.dt.dt.year
new_temperatures = temperature[temperature.year == 2012][['City', 'AverageTemperature']].groupby('City').mean()
new_temperatures

               AverageTemperature
City
A Coruña                13.625667
Aachen                   9.788500
Aalborg                  8.399833
Aba                     27.253500
Abadan                  26.607833
Abakaliki               27.253500
Abakan                  -0.697333
Abbotsford               7.851083
Abengourou              27.032583
Abeokuta                26.996333
Aberdeen                 8.731917
Abha                    25.725917
Abidjan                 26.766333
Abiko                   13.113250
Abilene                 18.967083
Abohar                  25.385250
Abomey Calavi           27.709500
Abu Dhabi               28.464583
Abuja                   26.926417
Acapulco                26.821167
Acarigua                27.687833
Accra                   26.856833
Achalpur                26.472583
Acheng                   2.522250
Achinsk                 -0.446667
Acuña                   21.060250
Adana                   19.916333
Addis Abeba             18.448583
Adelaide                16.842917
Aden                    26.696417
...                           ...
Zhicheng                15.232000
Zhongshan               22.978833
Zhoucheng               15.470667
Zhoucun                 13.724667
Zhoukou                 15.297167
Zhucheng                12.733000
Zhuhai                  22.978833
Zhuji                   16.397417
Zhukovskiy               5.200917
Zhumadian               15.297167
Zhuozhou                12.292833
Zhuzhou                 17.121667
Zhytomyr                 8.123833
Zielona Gora             9.548667
Zigong                  17.771500
Ziguinchor              26.679167
Zinder                  28.749500
Zlatoust                 3.184000
Zoetermeer              10.078250
Zonguldak               12.271667
Zouxian                 13.724667
Zunyi                   14.594167
Zurich                   7.956167
Zuwarah                 20.808000
Zwolle                  10.078250
Århus                    8.399833
Çorlu                   14.853667
Çorum                   11.142333
Öskemen                  1.372333
Ürümqi                   6.600167

[3448 rows x 1 columns]